@using Microsoft.VisualStudio.TestPlatform.ObjectModel

@inherits MarkdownRazorTemplate<TestSummaryContext>

@{
    string FormatTestOutcome(TestOutcome outcome) => outcome switch
    {
        TestOutcome.Passed => "🟢",
        TestOutcome.Failed => "🔴",
        _ => "🟡"
    };
}

@if (Model.Options.SummaryCompactLayout)
{
    // Have to yield raw HTML
    <details>
        <summary>
            <b>@FormatTestOutcome(Model.TestRunResult.OverallOutcome) @Model.TestSuite</b> (@Model.TargetFramework)
        </summary>

        @* This adds a margin that is smaller than <br> *@
        <p></p>

        @(new TestSummaryDetailsTemplate(Model))
    </details>
}
else
{
    <h2>
        @FormatTestOutcome(Model.TestRunResult.OverallOutcome) @Model.TestSuite <sub><sup>(@Model.TargetFramework)</sup></sub>
    </h2>

    @(new TestSummaryDetailsTemplate(Model))

    <hr />
}